.cache/
*.egg-info
.idea
*.pyc
*.swp
.tox
*~
installer-prebuilt
/ansible-playbooks
/clients
/compile
/config
/config-files
/containers
/distributedcloud
/distributedcloud-client
/docs
/downloads
/fault
/git
/gui
/ha
/helm-charts
/integ
/metal
/monitor-armada-app
/monitoring
/nfv
/oidc-auth-armada-app
/openstack-armada-app
/platform-armada-app
/stx-puppet
/test
/update
/upstream
/utilities
/zuul-jobs
