.cache/
*.egg-info
.idea
*.pyc
*.swp
.tox
*~
installer-prebuilt
/ansible-playbooks
/cert-manager-armada-app
/clients
/compile
/config
/config-files
/containers
/distributedcloud
/distributedcloud-client
/docs
/downloads
/fault
/git
/gui
/ha
/helm-charts
/integ
/kernel
/metal
/monitor-armada-app
/monitoring
/nfv
/nginx-ingress-controller-armada-app
/oidc-auth-armada-app
/openstack-armada-app
/platform-armada-app
/portieris-armada-app
/rook-ceph
/stx-puppet
/test
/update
/upstream
/utilities
/vault-armada-app
/zuul-jobs
