.cache/
*.egg-info
.idea
*.pyc
*.swp
.tox
*~
/downloads
/git
installer-prebuilt
/stx-ansible-playbooks
/stx-clients
/stx-compile
/stx-config
/stx-config-files
/stx-fault
/stx-gui
/stx-ha
/stx-integ
/stx-kubernetes
/stx-metal
/stx-monitoring
/stx-nfv
/stx-puppet
/stx-update
/stx-upstream
/stx-utilities
/ansible-playbooks
/clients
/compile
/config
/config-files
/fault
/gui
/ha
/helm-charts
/integ
/kubernetes
/metal
/monitor-armada-app
/monitoring
/nfv
/openstack-armada-app
/platform-armada-app
/puppet
/update
/upstream
/utilities
